<mat-toolbar color="warn">
    <mat-toolbar-row fxlayout="row">
        <span class="title-center" style="font-weight: 700; font-size: 25px;">Olvidaste tu contraseña?</span>
    </mat-toolbar-row>
    </mat-toolbar>
    <div>
        <h6  style="font-size: 15px; margin: 5%; text-align: center; color: rgb(139, 139, 142);">Ingrese su email para enviarle su contraseña:</h6>
    </div>
    
    
    
        <mat-dialog-content class="mat-typography">
         <form [formGroup]="forgotPasswordForm">
            <div fxFlex fxLayout="column">
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                    @if (forgotPasswordForm.controls.email.touched && forgotPasswordForm.controls.email.invalid) {
                        <mat-error>
                            @if (forgotPasswordForm.controls.email.errors.required){
                                <span>Este campo es obligatorio</span>
                            }
                            @else if (forgotPasswordForm.controls.email.errors.pattern){
                                <span>Este email es invalido</span>
                            }
                        </mat-error>
                    }
                </mat-form-field>
            </div>
         </form>    
        </mat-dialog-content>

    
    <mat-dialog-actions align="center">
        <button mat-raised-button type="submit" (click)="Submit()" [disabled]="!(forgotPasswordForm.valid && forgotPasswordForm.dirty)">Enviar</button>
        <button mat-raised-button mat-dialog-close>Close</button>
    </mat-dialog-actions>