.mat-toolbar{
    width: auto;
    margin-bottom: 12px;
}

.mat-toolbar {
    background-color: #0887ba;
  }

.title-center{
    flex: 1 1 auto;
    text-align: center;
}

mat-form-field{
    padding: 5px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}

mat-dialog-actions{
    margin-top: 30px;
    margin: auto;
}